@import 'tailwindcss';

@theme inline {
    --color-background : #000000;
    --color-foreground : #e6e6e6;
    --color-foreground-muted : #a1a1a1;
}

:root {
    @apply bg-background text-foreground;

    font-family: 'EB Garamond Variable', serif;
    font-weight: 500;
}